.works{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: 'Red Hat Mono', monospace;
        font-size: 2.5rem;
    }
    .toolbox-container{
      
    }
}